<div class="footer__bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-blk">
                    <div class="logo">
                        <a href="/">zetta hotels</a>
                    </div>
                    <article>
                        <p class="strong">Our hotel is an image of quality and profesionalism combined with hard
                            work and precision. You can expect only the best services from our staff.</p>
                    </article>
                    <ul class="social-links">
                        <li>
                            <a href="#" class="facebook-bg"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#" class="twitter-bg"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="google-bg"><i class="fab fa-google-plus-g"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-blk">
                    <h5 class="footer-title">useful links</h5>
                    <ul class="footer-links">
                        <li>
                            <a href="#" class="link-primary">blog</a>
                        </li>
                        <li>
                            <a href="#" class="link-primary">rooms</a>
                        </li>
                        <li>
                            <a href="#" class="link-primary">gift card</a>
                        </li>
                        <li>
                            <a href="#" class="link-primary">testimonials</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-blk">
                    <h5 class="footer-title">privacy</h5>
                    <ul class="footer-links">
                        <li>
                            <a href="#" class="link-primary">career</a>
                        </li>
                        <li>
                            <a href="#" class="link-primary">about us</a>
                        </li>
                        <li>
                            <a href="#" class="link-primary">contact us</a>
                        </li>
                        <li>
                            <a href="#" class="link-primary">services</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer-blk">
                    <h5 class="footer-title">contact info</h5>
                    <ul class="footer-links">
                        <li>
                            <a href="#"><i class="fas fa-envelope"></i> example@yahoo.com</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-phone-alt"></i> +0 320 422 4254</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-map-marker-alt"></i> Main Str Chicago Ilinois</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="copyright">
                    <p class="strong">
                        Copyright ©2020 All rights reserved | This template is made with love by <a href="#"
                                                                                                    class="link-primary">Marian</a>
                    </p>
                    <a href="#" class="link-primary">www.portfolioname.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
