<section class="section section--padding-top footer__top">
    <div class="container">
        <h6 class="sub-title">Photos</h6>
        <h2 class="section-title"><span>See our latest photos</span> from restaurant and hotel</h2>
    </div>
    <div class="owl-carousel owl-carousel--type2">
        <a href="#" class="owl-block" style="background-image: url('/media/caro1.jpg')"></a>
        <a href="#" class="owl-block" style="background-image: url('/media/caro2.jpg')"></a>
        <a href="#" class="owl-block" style="background-image: url('/media/caro3.jpg')"></a>
        <a href="#" class="owl-block" style="background-image: url('/media/caro4.jpg')"></a>
        <a href="#" class="owl-block" style="background-image: url('/media/caro5.jpg')"></a>
        <a href="#" class="owl-block" style="background-image: url('/media/caro6.jpg')"></a>
    </div>
</section>
