<header>
    <div class="container">
        <div class="logo">
            <a href="/">zetta hotels</a>
        </div>
        <div class="nav">
            <ul>
                <li class="nav__item">
                    <a href="/" class="nav__link active">home</a>
                </li>
<!--                <li class="nav__item dropdown">-->
<!--                    <a class="nav__link dropdown-toggle" href="/" role="button" id="dropdown01"-->
<!--                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                        rooms-->
<!--                    </a>-->
<!--                    <div class="dropdown-menu" aria-labelledby="dropdown01">-->
<!--                        <a class="dropdown-item" href="/">single</a>-->
<!--                        <a class="dropdown-item" href="/">double</a>-->
<!--                    </div>-->
<!--                </li>-->
                <li class="nav__item">
                    <a href="/restaurant" class="nav__link">restaurant</a>
                </li>
                <li class="nav__item">
                    <a href="/about" class="nav__link">about us</a>
                </li>
<!--                <li class="nav__item">-->
<!--                    <a href="/index" class="nav__link">blog</a>-->
<!--                </li>-->
                <li class="nav__item">
                    <a href="/contact" class="nav__link">contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>
