<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-with, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/animate.css/animate.min.css">

    <!-- Main CSS-->
    <link rel="stylesheet" href="/css/style_ltr.css">

    <!-- Icon, Title -->
    <link rel="icon" href="/images/icon.png" type="image/x-icon">
    <title>Zetta Hotels | <%= title %></title>
</head>