<section class="section section--internals-welcome" style="background-image: url('/media/slider01.jpg')">
    <div class="container">
        <h1 class="section-title section-title--white"><%= title %></h1>
        <nav class="breadcrumb">
            <ol>
                <li class="breadcrumb__item"><a href="/" class="link-primary link-primary--white">Home</a></li>
                <li class="breadcrumb__item active"><%= title %></li>
            </ol>
        </nav>
    </div>
</section>