<!doctype html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
<!-- Header -->
<%- include('./partials/header.ejs') %>
<!-- End of Header -->

<main>
    <%- include('./partials/internal_header.ejs') %>

    <section class="section section--padding">
        <div class="container">
            <div class="page404">
                <h2 class="section-title"><span>404</span> Page not Found</h2>
            </div>
        </div>
    </section>

</main>

<!-- Footer -->
<footer class="footer">
    <%- include('./partials/footer.ejs') %>
</footer>
<!-- End of Footer -->
</body>
</html>